/*
Theme Name: Openstrap Child
Theme URI: https://www.tdmu.edu.ua
Description: http://www.opencodez.com/free-themes/openstrap Child Theme
Author: Andriy Semenets
Author URI:   https://www.tdmu.edu.ua
Template: openstrap
Version: 1.0.0
License: GNU General Public License v2
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, orange, white, one-column, two-columns, three-columns, right-sidebar,left-sidebar, responsive-layout, custom-background, custom-header, custom-menu, featured-images, flexible-header, full-width-template, post-formats, sticky-post, theme-options, translation-ready, custom-colors
Text Domain:  openstrap-child
*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #044687 !important;
}

h1,
.h1 {
  font-size: 30px;
}

h2,
.h2 {
  font-size: 26px;
}

h3,
.h3 {
  font-size: 20px;
}

@media (min-width: 1280px) {
.container {
    width: 1250px !important;
}
}

@media (min-width: 992px) {
div[role="content"].col-md-8 {
    width: 75% !important;
}
}

@media (min-width: 992px) {
.col-md-4.sidebar-right {
    width: 25% !important;
}
}

@media (min-width: 992px) {
.col-md-8{
    width: 25% !important;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color:  #fff;

}
.hidden-xs {
    width: 25% !important;
    background-color: #EAEAEA;

}
}

@media (max-width: 991px) {
.navbar-header {
    float: left;
}
}

@media (max-width: 767px) {
.hidden-xs, tr.hidden-xs, th.hidden-xs, td.hidden-xs {
    display: none !important;
}
}

#header-top {
    height: 26px !important;
    max-height: 26px !important;
}

#header-top-container {
    padding-top: 5px;
}

@media(min-width: 800px){
.site-title{
		font-size:24pt;
		text-align:center;		
}
}

@media(max-width: 799px){
.site-title{
		font-size:20pt;
		text-align:center;		
}
}

.site-title span{
		font-size:15pt;
		text-align:center;
		padding-top:5px;
		display:block;
		
}

.widget_search {
    margin-top: -20px;
    margin-bottom: 20px;
}

.header-widget {
    display: block !important;
}

.site-title-little{
    font-family: 'Ubuntu', sans-serif;
    font-size:14pt;
    text-align:center;

}
.site-title-little a{
    color: #1e73be !important;
}
.site-title-little span{
    font-family: 'Ubuntu', sans-serif;
    font-size:8pt;
    text-align:center;
    padding-top:5px;
    display:block;

}

.langFlag {
    display: inline-block;
    padding: 0px 0px 0px 5px;
    /*  /*flags for langvich* 
    .col-lg-12{
	background-color: #022F5A;
	border-radius: 5px;
	margin-top: -3px;	*/
    background-color: #022F5A;
	border-radius: 5px;
	margin-top: -3px;	
}

.btn-primary {
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#044687), color-stop(60%, #044687), to(#044687));
    background-image: -webkit-linear-gradient(#044687, #044687 60%, #044687);
    background-image: -moz-linear-gradient(top, #044687, #044687 60%, #044687);
	background-image: linear-gradient(#044687, #044687 60%, #044687);
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    color: #1e73be !important;
}

#footer {
    height: auto !important;
}

.footermenu ul {
    padding: 0px;
}

.footermenu li {
    display: inline-block;
    width: 24%;
    margin-bottom: 30px;
    padding-left: 10px;
    vertical-align: top;
}

.footermenu li li {
    display: block;
    margin-left: 5px;
    width: 100%;
    margin-bottom: 0px;
    padding-left: 0px;
}

.footermenu li li a {
   color: #044687;
}

/*the frame of the submenu of the menu*/
.dropdown-menu{
	border: 1px solid rgba(222,0,0,0);
	border-radius: 5px;
	margin-left: 3px;
	background-color: #EAEAEA;
}
/*widget headers*/
.widget-title{
	padding: 12px;
	padding-left: 22px;
	padding-top: 18px;
} 
.widget-title:hover{
	background-color:  #fff;
}

.rpwe-li{
	padding: 15px;
}
/*widjets*/
.widget{
	background-color:  #fff;
} 
/*hover widgets*/
.widget:hover{	
	background-color:  #C1C1C1
} 
/*hower post news*/
.category-news:hover{
	background-color: #EAEAEA;
} 
/*border baner*/
.wp-image-3605:hover{
	border:4px solid #EAEAEA;
border-radius: 5px;
} 
/*bacgraund color from all*/
#wrap{
	background-color: #EAEAEA;
} 

/* backgraund color  "оголошення" та "актуально" */
.rpwe-clearfix:hover{
background-color:  #ffffff;
	border:4px solid #EAEAEA;
border-radius: 5px;
}